/*--------------------------------------
            WEATHER START
---------------------------------------*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.weather-header {
    justify-content: space-between;
    font-weight: 600;
    padding: 1em;
}

.city {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.weather_icon {
    width: 100%;
}

.last_update {
    justify-content: flex-end;
}

.last_update > div {
    padding-right: 1em;
}

.fact {
    background-color: #4a2e2e;
    color: white;
}

.temp {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.feels_like {
    font-size: 10px;
    justify-content: space-around;
}

.wind {
    font-weight: 500;

}

.pressure, .humidity, .wind {
    padding: .5em 1em;
}

.wind_caption, .wind_speed, .pressure_caption, .humidity_caption {
    padding-right: 1em;
}

.forecasts {
    background-color: #4a2e2e;
    overflow: auto;
    white-space: nowrap;
}

.forecasts_scroll {
    display: flex;
}

.forecast {
    margin: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}

.forecast_day {
    font-size: 20px;
    border-bottom: 1px black solid;
    text-align: center;
    font-weight: 600;
}

.forecast > .flex-row > div {
    margin: 0 .5em;
}

.space {
    justify-content: space-around;
    align-items: center;
}

.part {
    text-align: center;
}

.forecast_temp {
    font-size: 16px;
}

.forecast_icon {
    width: 5vw;
}

/*--------------------------------------
            WEATHER END
---------------------------------------*/

/*--------------------------------------
            ORDERS START
---------------------------------------*/

.table_row {
    justify-content: space-between;
    border: 1px black solid;
}

.table_headers {
    background-color: lightgrey;
    font-size: 18px;
}

.header_item, .body_item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: .5em;
    align-self: stretch;
}

.product_name, .product_quantity, .product_price {
    font-size: 12px;
}

.order_items {
    flex-grow: 3;
}

/*--------------------------------------
            ORDERS END
---------------------------------------*/

/*--------------------------------------
            EDIT ORDER START
---------------------------------------*/

.product_quantity > input {
    text-align: center;
}
.order_cost {
    font-size: 18px;
}
.order_cost_caption {
    margin-right: 1em;
}
.edit_order_btn {
    margin: 2em;
}
